<div class="notes-header">
    <h1 *ngIf="!noteId">Добавить заметку</h1>
    <h1 *ngIf="noteId">Редактор заметки</h1>
</div>
<div class="notes-form">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitNote()">
        <div class="title">
            <input 
                type="text" 
                class="form-item"
                placeholder="Название заметки" 
                formControlName="title"
            >
        </div>
        <div class="desc">
            <textarea 
                formControlName="desc"
                rows="6" 
                placeholder="Опишите заметку"
            ></textarea>
        </div>
        <input 
            type="hidden"
            name="noteId"
            formControlName="id"
        >
        <div class="form-buttons">
            <a [routerLink]="['/']"  class="cancel">Отмена</a>
            <button type="submit" class="submit-form" [disabled]="form.invalid">
                <span *ngIf="!id">Создать</span>
                <span *ngIf="id">Обновить</span>
            </button>
        </div>
    </form>
</div>
